## Download Data From https://archive.ics.uci.edu/ml/machine-learning-databases/00331/

### Create and structure the data to make it ready for Processing

In [1]:
import pandas as pd
import numpy as np

In [2]:
yelp_data= pd.read_csv("yelp_labelled.txt",sep='\t',header=None)

In [3]:
yelp_data.head()

                                                   0  1
0                           Wow... Loved this place.  1
1                                 Crust is not good.  0
2          Not tasty and the texture was just nasty.  0
3  Stopped by during the late May bank holiday of...  1
4  The selection on the menu was great and so wer...  1

In [4]:
column_name=['Review','Sentiment']

In [5]:
yelp_data.columns= column_name

In [6]:
yelp_data.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [7]:
yelp_data.shape

(1000, 2)

In [8]:
amazon_data=pd.read_csv('amazon_cells_labelled.txt',sep='\t',header=None)

In [9]:
amazon_data.head()

                                                   0  1
0  So there is no way for me to plug it in here i...  0
1                        Good case, Excellent value.  1
2                             Great for the jawbone.  1
3  Tied to charger for conversations lasting more...  0
4                                  The mic is great.  1

In [10]:
amazon_data.columns=column_name

In [11]:
amazon_data.head()

                                              Review  Sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [12]:
amazon_data.shape

(1000, 2)

In [13]:
imdb_data=pd.read_csv('imdb_labelled.txt',sep='\t',header=None)

In [14]:
imdb_data.head()

                                                   0  1
0  A very, very, very slow-moving, aimless movie ...  0
1  Not sure who was more lost - the flat characte...  0
2  Attempting artiness with black & white and cle...  0
3       Very little music or anything to speak of.    0
4  The best scene in the movie was when Gerardo i...  1

In [15]:
imdb_data.columns=column_name

In [16]:
imdb_data.head()

                                              Review  Sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [17]:
imdb_data.shape

(748, 2)

In [18]:
data= yelp_data.append([amazon_data,imdb_data],ignore_index=True)

In [19]:
data.shape

(2748, 2)

In [20]:
data.head()

                                              Review  Sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [21]:
data.Sentiment.value_counts()

1    1386
0    1362
Name: Sentiment, dtype: int64

In [ ]:
data.isnull().sum()

In [ ]:
X=data.Review
X.shape

In [ ]:
y=data.Sentiment

In [ ]:
y.head()

In [ ]:
X.head()